server:
  port: 9000

spring:
  application:
    name: auth
  jpa:
    database: postgresql
    show-sql: false
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://localhost:5432/nwt_auth
    username: postgres
    password:
    driver-class-name: org.postgresql.Driver
